.store-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 60px 8%;
}

.card{
    background: white;
  padding: 20px;
  border-radius: 4px;
display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 420px; /* 👈 esto las hace más altas */
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: 0.3s ease;
}
.card:hover {
  transform: translateY(-5px);
}
.card img {
  width: 100%;
  height: 200px;
  object-fit: contain; /* 👈 importante */
}

.card h2 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 15px;
}

/* Pantallas grandes */
@media (max-width: 1400px) {
  .store-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Tablets grandes */
@media (max-width: 1024px) {
  .store-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 50px 6%;
  }
}

/* Tablets pequeñas */
@media (max-width: 768px) {
  .store-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  .card {
    min-height: 380px;
  }
}

/* Móviles */
@media (max-width: 480px) {
  .store-container {
    grid-template-columns: 1fr;
    padding: 40px 5%;
  }

  .card {
    min-height: auto;
  }

  .card img {
    height: 180px;
  }

  .card h2 {
    font-size: 16px;
  }
}