nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
      background-color: #1e1e2f;
      padding: 15px 40px;
      color: white;

}

nav ul{
    display: flex;
    list-style: none;
    gap: 25px;
}

nav ul li{
    cursor: pointer;
    transition: 0,3s;
}
nav ul li:hover {
  color: #00c896;
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  nav ul {
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  nav ul li {
    padding: 5px 0;
  }
}